<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>{% block title %}Back'n dev - cv{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('cv') }}{% endblock %}
</head>
<body>
<div id="cv"></div>
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('cv') }}{% endblock %}
</body>
</html>
