@font-face {
  font-family: 'Roboto-thin';
  src: url("../font/Roboto-Thin.ttf");
}

@font-face {
  font-family: 'Roboto-condensed';
  src: url("../font/Roboto-Condensed.ttf");
}

@font-face {
  font-family: 'Roboto-bold';
  src: url("../font/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto-light';
  src: url("../font/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto-medium';
  src: url("../font/Roboto-Medium.ttf");
}

$link-white: rgb(255,240,240) !important;
$link-white-hover: rgb(200,240,250) !important;
$black-hover: rgb(20,20,20) !important;
$dark-blue: rgb(15, 30, 45) !important;
$light-blue: rgb(97, 189, 248) !important;
$grey-shadow: rgba(60, 59, 55, 0.5) !important;


body{
  min-height: 100vh;
  font-family: Roboto-condensed, sans-serif;
}

.nav-menu{
  top: 4.5em;
  width: 15em;
}
h2{
  color: $light-blue;
  font-family: Roboto-medium, sans-serif;
}

a{
  outline: none;
}

.p-white{
  color: $link-white;
}

.dark-blue{
  background-color: $dark-blue;
}

.icon-small{
  font-size: 18px ;
}

.font-2{
 font-size: 2em;
}

.font-3{
  font-size: 3em;
}


/****************************** preloader ******************************************/

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: $dark-blue;
  letter-spacing:4px;
  text-transform: uppercase;
  text-shadow:0 0 10px $light-blue;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid $dark-blue;
  border-right: 3px solid $light-blue;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}
span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin:left;
  animation: animate 2s linear infinite;
}
span:before {
  content:'';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $dark-blue;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px $light-blue;
}

@keyframes animateCircle
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform: rotate(45deg);
  }
  100%
  {
    transform: rotate(405deg);
  }
}

/***************************************** end preloader ****************************************************/