index:
    path: /
    controller: App\Controller\HomeController::index

api_get_slug:
    path: /api/slug/{id}
    controller: App\Controller\ApiController::getSlug
    defaults: {id: null}
    methods: [HEAD, GET]

api_create_slug:
    path: /admin/api/slug/create
    controller: App\Controller\ApiController::createSlug
    methods: [HEAD, POST]

api_delete_slug:
    path: /admin/api/slug/delete/{id}
    controller: App\Controller\ApiController::deleteSlug
    methods: [HEAD, DELETE]

api_update_slug:
    path: /admin/api/slug/update/{id}
    controller: App\Controller\ApiController::updateSlug
    methods: [HEAD, PUT]